name: "detekt-validation"
on:
  workflow_call:
jobs:
  detekt:
    name: "Check project by detekt"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'
      - name: Give gradle permission
        run: chmod +x gradlew
      - name: detekt
        uses: gradle/gradle-build-action@v3
        with:
          arguments: detekt